.eventOption {
  display: flex;
  margin-top: 30px;
}

.eventOption__calendarWidget {
  width: 65px;
}

.eventOption__calendarWidget > p:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 20px;
  color: #646566;
  font-weight: 600;
  padding: 13px 0;
}

.eventOption__calendarWidget > p:last-child {
  background-color: #1877f2;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: white;
  padding: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.eventOption__details {
  margin-left: 20px;
}

.eventOption__details > h4 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #646566;
}

.eventOption__location > p {
  font-size: 14px;
  margin-left: 5px;
  color: #646566;
}

.eventOption__location {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #646566;
  margin-top: 5px;
}

.eventOption__location > .MuiSvgIcon-root {
  font-size: 17px;
}

.eventOption__details > span {
  font-size: small;
  color: #1877f2;
}
