.header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  border-radius: 30px;
  margin-left: 10px;
  padding: 10px 10px;
}

.header__input > .MuiSvgIcon-root {
  color: #85878b;
}

.header__input > input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  color: #85878b;
}

.header__left > img {
  height: 40px;
}

.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__option {
  display: flex;
  justify-content: center;
  width: 112px;
  cursor: pointer;
}

.header__option:hover {
  background-color: #f3f3f3;
}

.header__option > .MuiSvgIcon-root {
  font-size: 28px;
  color: #65676b;
}

.header__option--active .MuiSvgIcon-root {
  color: #1877f2 !important;
  border-bottom: 3px solid #1877f2;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > button {
  background-color: #e4e6eb;
  margin-left: 10px;
  padding: 8px;
}

.header__right .MuiSvgIcon-root {
  font-size: 22px;
}
