.sidebar {
  padding: 20px 40px;
  width: 20%;
  background-color: white;
  position: fixed;
  left: 0;
}

.sidebar__head {
  padding: 10px;
  cursor: pointer;
}

.sidebar__head:hover {
  background-color: #e8e9eb;
  border-radius: 10px;
}
